---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Niki's Blog About Programming and Career Advising"}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <!-- <Header /> -->
    <main>
      <h1>Niki Khomitsevych</h1>
      <p>
        Software engineer with over 10 years of experience in developing
        software for Apple platforms (iOS, macOS, tvOS) and the frontend of web
        applications (React, Next). For the past 5 years, I have exclusively
        worked in distributed software development teams. I have served as a
        team lead or as a software architect across various mobile and
        cross-functional projects. My primary areas of expertise include
        FinTech, Social, Healthcare, and Health &amp; Fitness.
      </p>
      <p>
        Here is my <a href="nkhomitsevych.resume.pdf">resume</a>.
      </p>
      <ul class="list-disc">
        <li>
          Email: <a href="mailto:hamsternik9@gmail.com">hamsternik9@gmail.com</a
          >
        </li>
        <li>
          GitHub: <a href="http://github.com/hamsternik"
            >github.com/hamsternik</a
          >
        </li>
        <li>
          LinkedIn: <a href="https://www.linkedin.com/in/nkhomitsevych/"
            >Nikita Khomitsevych</a
          >
        </li>
        <li>
          Telegram: <a href="https://t.me/hamsternik">@hamsternik</a>
        </li>
      </ul>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
