---
layout: blogpost.njk
title: ""
description: ""
date: 2024-03-14
---
<p>
  I'm Nikita Khomitsevych, a software engineer who found his passion in delivering best mobile and
  web experince through the software. I'm driving <a href="http://finitetimespace.com">software agency</a>
  on my own. I also love talk to people and help them to growth and extend their opportunities in
  career, conducting (tech) career consulting one2one sessions. All free time dedicated into phylosophy
  and psychology topics.
</p>
