---
layout: base.njk
title: "Privacy Policy"
---
<section>
  <h3>JavaScript</h3>
  <p>Optional.</p>
</section>
<section>
  <h3>Analytics</h3>
  <p>No analytics.</p>
</section>
<section>
  <h3>Cookies</h3>
  <p>No cookies usage.</p>
</section>
<section>
  <h3>Source</h3>
  <p>
    You can find the website's source code on <a href="https://github.com/hamsternik/www.hamsternik.com">GitHub</a>
  </p>
</section>
